#popupVideo {
    margin: auto;
    padding: 10px;
    position: relative;
    left: 250px;
    top: 300px;
    z-index: 100;
    width: 0;
    height: 0;
}

#iframeCategory {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 960px;
    height: 600px;
    z-index: 200;
    border: #ddd 1px solid;
    border-radius: 1%;
}